.map-container {
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;
  .ocean-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #658dc6;
  }

  .mapboxgl-map {
    z-index: 5;
  }

  .mapboxgl-marker {
    width: 2.5rem;
    height: 2.5rem;
  }

  .mapboxgl-canvas {
    cursor: initial;
    width: 100% !important;
    height: 100% !important;
  }

  .mapboxgl-marker > div {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .mapboxgl-marker > div > img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    cursor: initial;
  }

  .showMarker {
    top: -31px !important;
    left: -8px !important;
  }

  .loginMarker {
    top: -210px !important;
    left: 155px !important;

    border: none !important;
  }

  .clickedImage {
    border: 3px solid red !important;
  }

  .bounce {
    animation: bounce 2s ease-in-out infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .mapboxgl-marker > div > svg {
    position: absolute;
    top: 0;
    left: 0;
    cursor: initial;

    polygon {
      border-radius: 50%;
    }
  }

  .mapboxgl-marker > div > span {
    position: absolute;
    top: 0;
    left: 0;

    padding: 3px;
    border: 1px solid red;
  }

  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }
}
