.modal-post-more {
  top: 7% !important;
  left: 20% !important;

  .modal-post {
    display: flex;
    flex-direction: row;

    .modal-left {
      border-right: 1px solid #ccc;

      .modal-photos {
        width: 432px;
        margin: 12px;

        .modal-photo {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .modal-right {
      position: relative;

      .modal-user {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin: 12px 0 0 12px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: contain;
          line-height: 12px;
        }

        .profile_name {
          margin: 0;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }

      .modal-main-content {
        position: relative;
        width: 456px;
        margin: 8px 0;

        .modal-article {
          height: 280px;
          border-bottom: 1px solid #ccc;
          padding: 0 8px;

          .modal-title {
            margin: 4px 0;
            font-size: 18px;
          }

          .modal-content {
            font-size: 16px;
          }
        }

        .modal-comments {
          overflow-y: auto;

          .modal-comments-tot-count-box {
            margin: 4px 4px 12px;
            padding: 8px 0;
            font-size: 12px;
            font-weight: 700;
          }

          .modal-comment {
            position: relative;
            border-bottom: 1px solid #f0f0f0;
            padding-bottom: 4px;

            .modal-comment-user {
              display: inline-flex;
              align-items: center;
              gap: 4px;

              position: absolute;
              top: 4px;
              left: 8px;

              img {
                width: 24px;
              }

              .profile_name {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 700;
              }

              .modal-comment-createAt {
                font-size: 10px;
                color: #ccc;
              }
            }

            .modal-comment-box {
              width: 396px;
              padding: 36px 12px 0;

              .modal-comment-content {
                margin: 0;
                font-size: 14px;
                word-wrap: break-word;
                padding: 4px 0;
              }
            }

            .modal-comment-like {
              display: flex;
              flex-direction: column;
              align-items: center;

              position: absolute;
              right: 15px;
              bottom: 2px;

              img {
                width: 16px;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .modal-post-close-button {
      border: none;
      background: none;

      position: absolute;
      top: 8px;
      right: 8px;

      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
