.auth-section {
  width: 360px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  .logo-container {
    img {
      width: 164px;
      object-fit: contain;
    }
  }
}

.description {
  margin: 8px 0;

  font-size: 32px;
  color: #006f8a;
  font-weight: bold;

  span {
    font-size: 40px;
    color: #1ed2ff;
  }
}

.signup-form,
.account-form {
  margin: 16px 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .input-container {
    position: relative;

    .with-button {
      display: flex;

      .send-button {
        margin-left: 8px;
        width: 96px;
        border-radius: 5px;
        background: #2743a6;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 600;

        cursor: pointer;
      }
    }

    input {
      width: 348px;
      padding-inline-start: 8px;
      height: 48px;
      background: #fafafa;

      border: 1px solid #dbdbdb;
      border-radius: 10px;

      color: #000;

      &::placeholder {
        color: #8d8686;
      }

      &:focus {
        outline: none;
      }
    }

    .timer {
      position: absolute;
      top: 2px;
      right: 16px;
    }

    .error-message {
      text-align: left;
      margin: 4px 0 4px 8px;

      color: red;
    }
  }

  .submit-button {
    margin-top: 16px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: #2743a6;
    color: #fff;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.link-text {
  margin: 0;
}

.disabled {
  background: #cdcdcd !important;
  cursor: initial !important;
}

.fetch-error-message {
  color: red;
  margin: 0;
}
