button {
  cursor: pointer;
}

.pages {
  box-shadow: 10px 10px 5px #aaa;
  right: 15%;
  top: 20%;
  position: absolute;
  width: 300px;
  max-height: 475px;
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: column;

  z-index: 1;

  .LoginPage {
    width: 100%;
    height: 100%;

    .Login_logo {
      width: 85px;
    }

    .Logotext {
      color: #bbb;
      .text {
        font-size: 9px;
      }
      .text2 {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .login_error {
      color: rgb(249, 63, 63);
      font-weight: bold;
      margin-bottom: 12px;
    }

    .login_buttons {
      .loginbtn {
        border: powderblue;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        width: 260px;
        height: 35px;
        font-size: 16px;
        background-color: rgb(132, 216, 227);
        margin: 8px;
      }
    }

    .login_index {
      padding: 10px 0;
      .logintext {
        border: #f5f5f5;
        background-color: #eeeeee;
        border-radius: 1px;
        width: 240px;
        height: 20px;
        padding: 5px 5px 5px 10px;
        margin: 8px 0;
      }
    }

    .social_login {
      padding: 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 16px;

      button {
        background: none;
        text-align: center;
        border: white;
        font-weight: bold;

        img {
          border-radius: 50% !important;

          object-fit: contain;
        }
      }
      .kakaobtn > img {
        width: 36px;
      }
      .naverbtn > img {
        width: 32px;
      }
      .googlebtn > img {
        width: 28px;
      }
    }
  }

  .AccountPage {
    margin-top: 8px;
    padding: 8px 4px;

    font-size: 13px;

    .account-box {
      a {
        text-decoration: none;
        color: rgb(0, 149, 246);
      }

      a:hover {
        text-decoration: underline;
      }
      padding-bottom: 16px;
    }

    .register-box {
      border-top: 1px solid #ccc;
      margin: 0 16px;
      padding: 16px 0;

      .gosignupbtn {
        border: none;
        background: none;

        color: rgb(0, 149, 246);
      }

      .gosignupbtn:hover {
        text-decoration: underline;
      }
    }
  }
}
