.Main_content {
  width: 500px;
  max-height: 700px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  right: 390px; //20.3%
  background: white;
  z-index: 101;

  .article_head {
    height: 30px;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    .photo_page {
      font-weight: bold;
      color: rgb(165, 165, 165);
    }
  }
  .Content {
    max-height: 285px;
    .Con_pro {
    }
    .Photo {
      img {
        width: 100%;
        max-height: 285px;
        object-fit: cover;
      }
    }
  }
  .addr {
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 15px;
    }
  }
  .comment_section {
    height: 305px;
    .comment_container {
      height: 260px;
      text-align: center;
    }
    .comment_box {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
        object-fit: cover;
      }
      input {
        background: rgb(224, 224, 224);
        border-radius: 15px;
        width: 400px;
        height: 33px;
        border: 1px solid #ccc;
        padding-left: 15px;
      }
      input:focus {
        outline: none;
        border: 1px solid #aaa;
      }
    }
  }
}
