.modal_back {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.4);
}

.side_nav {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;

  padding-left: 30px;

  z-index: 101;

  .menu {
    display: flex;
    flex-direction: column;

    .menu_Icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;

      #Trip_nav {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 15px;
        background: #ccc;
      }
      .icon_up {
        display: flex;
        align-items: center;
        span {
          cursor: pointer;
          font-weight: 800;
          font-size: 20px;
          letter-spacing: 1px;
          -webkit-transition: all 0.2s ease-in-out;
          margin-left: 15px;
        }
      }
      .icon_up:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -ms-transform: translateY(-5px);
      }

      button {
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        box-shadow: 2px 2px 5px 0px #ccc;
        font-size: 15px;
        -webkit-transition: all 0.2s ease-in-out;
        img {
          width: 34px;
        }
      }
    }
  }
}
