.Main_content {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 375px;
    max-height: 500px;
    right: 12.3%;
  }
  @media only screen and (min-width: 1025px) and (max-width: 1600px) {
    width: 375px;
    max-height: 500px;
    right: 20.3%;
  }
  @media only screen and (min-width: 1601px) {
    width: 500px;
    max-height: 662px;
    right: 390px; //20.3%
  }
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  background: white;
  z-index: 101;
}

.Modal_head {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0;
  font-weight: bold;
  span {
    margin: 0 95px;
  }
}

.MoveModal {
  cursor: pointer;
  border: 0px;
  width: 60px;
  background: white;
  font-size: 17px;
  color: rgb(72, 72, 196);
  font-weight: bold;
}

.First_modal {
  .Modal_First_content {
    text-align: center;
    .Photo_logo {
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 16px 0;
        width: 220px;
      }
    }
    .upload-section {
      display: flex;
      height: 220px;
      margin: 0 32px 28px;
      justify-content: center;
      align-items: center;

      border: 2px dashed #ccc;
      border-radius: 2px;
      background-color: #fafafa;
      color: #bdbdbd;
      outline: none;
      transition: border 0.24s ease-in-out;

      cursor: pointer;

      &:focus {
        border-color: #2196f3;
      }
    }

    .isDragActive {
      border-color: #2196f3;
    }
  }
}

.Second_modal {
  .Modal_head {
    border: 0;
  }

  .Write_content {
    max-height: 615px;
    overflow-y: overlay;
    /* overflow-x: hidden; */
    object-fit: cover;
    margin-right: 5px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.4);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 6px;
    }

    .Write_list {
      max-height: 653px;
      .check_img {
        width: 465px;
        height: 120px;
        background-color: rgba(63, 63, 63, 0.3);
        margin: 0 15px 5px 15px;
        border-radius: 5px;
        display: flex;
        padding-top: 10px;
      }

      .List_piece {
        width: 465px;
        height: 120px;
        margin: 0 15px 5px 15px;
        background-color: #eee;
        border-radius: 5px;
        display: flex;
        padding-top: 10px;

        .img_box {
          width: 160px;
          height: 110px;
          border: 1px solid #ccc;
          display: flex;
          align-items: center;
          margin-left: 10px;
          justify-content: center;
          overflow: hidden;
          position: relative;

          .click_img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid white;
            background-color: #152f8d;
            color: white;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            z-index: 1;
          }

          img {
            max-width: 160px;
            max-height: 140px;
          }
        }

        table {
          max-height: 112px;
          margin-left: 15px;
        }

        th {
          color: rgb(72, 72, 196);
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          margin-right: 10px;
        }

        td {
          width: 125px;
          margin: auto;
          height: 51px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-left: 20px;
        }

        button {
          width: 120px;
          height: 40px;
          border: 0;
          border-radius: 10px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          background-color: #2743a6;
        }
      }
    }
  }

  .footer {
    text-align: center;
    font-size: 19px;
    display: flex;
    height: 5.5vh;
    align-items: center;
    justify-content: center;
  }

  .footer_text {
    font-weight: bold;
  }
}

.Order_repre {
  width: 45px;
  height: 60px;
  background: #ddd;
  border: 1px solid #ccc;
  margin: 0 11px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #aaa;
}

.Last_modal {
  .Modal_content {
    .Show_repre {
      width: 100%;
      display: flex;
      height: 9vh;
      border-bottom: 1px solid #ccc;
      justify-content: center;
      align-items: center;
    }

    .Write_content {
      input {
        background-color: #ddd;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 93%;
        font-size: 15px;
      }
      textarea {
        background-color: #ddd;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 93%;
        font-size: 15px;
      }

      .Write_Title {
        margin-top: 10px;
        height: 5.5vh;
        display: flex;
        justify-content: center;
        input {
          padding-left: 10px;
          padding-top: 5px;
        }
        input:focus {
          outline: none;
          border: 1px solid #aaa;
        }
      }

      .Write_Main_content {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        textarea {
          height: 464px;
          padding: 20px 0 0 10px;
        }
        textarea:focus {
          border: 1px solid #aaa;
          outline: none;
        }
      }
    }
  }

  .footer {
    border-top: 1px solid #ccc;
    height: 80px;
    display: flex;
    align-items: center;
    .With_who {
      padding-left: 20px;
      span {
        font-size: 22px;
      }
      input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid blue;
        margin-left: 10px;
        padding-left: 5px;
        padding-bottom: 5px;
        width: 160px;
      }
      input:focus {
        outline: none;
      }
    }
    button {
      cursor: pointer;
      width: 70px;
      height: 30px;
      border-radius: 5px;
      border: 0;
      font-weight: bold;
      margin-left: 10px;
    }
    .choose_btn {
      background-color: #2743a6;
      color: white;
    }
  }
}
