.Content_box {
  width: 500px;
  height: 500px;
  max-height: 500px;
  max-width: 500px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.close_modal_btn {
  cursor: pointer;
  color: black;
  position: absolute;
  z-index: 999;
  top: 12px;
  right: 20px;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-weight: bold;
}
.Modal_head {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
  font-weight: bold;
}
.First_modal {
  .Modal_First_content {
    text-align: center;
    .Photo_logo {
      text-align: center;
      img {
        margin: 75px 0 40px 0;
        width: 175px;
      }
    }
    .ChoosePhoto {
      button {
        color: white;
        background-color: rgb(72, 72, 196);
        border: 1px solid rgb(72, 72, 196);
        font-size: 20px;
        width: 300px;
        height: 50px;
        box-shadow: 5px 5px 3px 1px #ccc;
        cursor: pointer;
      }
    }
  }
}
.Second_modal {
  .Modal_head {
    .MoveModal {
      border: 0px;
      width: 60px;
      background: white;
      font-size: 17px;
      color: rgb(72, 72, 196);
      font-weight: bold;
    }
  }

  .Modal_content {
    border-bottom: 1px solid #ccc;
    height: 52vh;

    .ShowImg_Big {
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #ccc;
      img {
        width: 290px;
        border-radius: 15px;
        padding: 0 7px 0 7px;
        object-fit: cover;
      }
    }
    .ShowImg_Small {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 11vh;
      img {
        width: 40px;
        height: 60px;
        padding: 0 9px 0 9px;
        object-fit: cover;
      }
      button {
        width: 40px;
        height: 63px;
        background: white;
        font-size: 40px;
        border: 1px solid #232323;
      }
    }
  }

  .footer {
    text-align: center;
    font-size: 19px;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
  }
}
