body {
    margin: 0;
    overflow-y: hidden;
  }
.inner {
    height: 100%;
  }
.outer {
    height: 100vh;
    overflow-y: auto;
}
  
  /* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}
.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}
.bg-yellow {
    background-color: white;
}
  
.bg-blue {
    background-color: powderblue;
}
  
.bg-pink {
    background-color: #f4cfdf;
}