button{
    cursor: pointer;
}
.Full-Map{
    width: 100%;
    height: 860px;
}
.map{
    z-index: 0;
    left: -100px;
    width: 1800px;
    height: 860px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;
    border-color: #D8D8D8;
}
.LoginPage{
    box-shadow: 10px 10px 5px #aaa;
    right: 15%;
    top: 20%;
    position: absolute;
    width: 300px;
    height: 100%;
    max-height: 410px;
    background-color: white;
    text-align: center;
}
.SignUpPage{
    box-shadow: 10px 10px 5px #bbb;
    right: 15%;
    top: 20%;
    position: absolute;
    width: 300px;
    height: 100%;
    max-height: 410px;
    background-color: white;
    text-align: center;
}
.Logotext{
    color: #bbb;
}
.Logotext .text1{
    font-size: 9px;
}
.Logotext .text2{
    font-size: 9px;
    font-weight: bold;
}
.login_index{
    border-bottom: 1px solid #ccc;
    padding: 10px 0 20px 0;
}
.signup_index{
    padding: 10px 0 20px 0;
}
.logintext{
    border: #f5f5f5;
    background-color: #eeeeee;
    border-radius: 1px;
    width: 240px;
    height: 20px;
    padding: 5px 5px 5px 10px;
    margin: 10px 0 10px 0;
}
.signuptext{
    border: #f5f5f5;
    background-color: #eeeeee;
    border-radius: 1px;
    width: 240px;
    height: 25px;
    padding: 5px 5px 5px 10px;
    margin: 3px 0 3px 0;
}
.loginbtn{
    border: powderblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    font-size: 13px;
    background-color: powderblue;
    margin-right: 5px;
}
.gosignupbtn{
    border: powderblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    font-size: 13px;
    background-color: powderblue;
}
.signupbtn{
    border: powderblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    font-size: 13px;
    background-color: powderblue;
    margin-top: 10px;
}
.social_login{
    padding: 10px 0 10px 0;
}
.social_login button{
    border-radius: 5px;
    width: 260px;
    height: 35px;
    font-size: 17px;
    margin: 5px 0 5px 0;
    border: white;
    font-weight: bold;
}
.social_login .kakaobtn{
    background-color: rgb(248, 248, 87);
}
.social_login .naverbtn{
    background-color: rgb(44, 224, 44);
    color: white;
}
.social_login .googlebtn{
    background-color: whitesmoke;
}
.check_use{
    width: 240px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 0px 0px #aaa;
    cursor: pointer;
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: auto;
    text-align: left;
    padding: 10px 15px 10px 0;
    margin-top: 10px;
}
.check_use_content{
    position: relative;
    left: 15px;
}
.check_use button{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: white;
    border: solid 2px #aaa;
    top: 2px;
    position: relative;
}
.check_use span{
    text-align: left;
    margin-left: 3px;
}
.modal{
    position: absolute;
    z-index: 1;
    left: 525px;
    top: 100px;
    width: 650px;
    height: 650px;
    max-height: 650px;
    background-color: white;
    box-shadow: 0 3px 3px 3px #ccc;
    border-radius: 10px;
}
.modal_head{
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.modal_content{
    margin: 5px 40px 5px 40px;
    border-bottom: 1px solid #ccc;
}
.modal_content span{
    font-weight: bold;
    font-size: 15px;
}
.modal_content p{
    font-size: 12px;
    color: rgb(105, 105, 105);
}
.modal_footer{
    text-align: center;
    margin-top: 20px;
}
.modal_footer span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
.modal_footer button{
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: white;
    border: solid 2px #aaa;
    top: 2px;
    position: relative;
}