.account-form {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 30px;

  gap: 32px;
  .check_btn {
    cursor: pointer;
    background-color: rgb(72, 72, 196);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(45, 45, 254);
    width: 150px;
    height: 50px;
    box-shadow: 4px 4px 2px 2px #ccc;
    margin-left: 64px;
  }
  .Ncheck_btn {
    cursor: default;
    background-color: rgb(172, 172, 254);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(172, 172, 254);
    width: 150px;
    height: 50px;
    box-shadow: 4px 4px 2px 2px #ccc;
    margin-left: 64px;
  }
}
