.social-container {
  display: flex;
  gap: 16px;
}

.divider {
  display: flex;
  align-items: center;
  width: 280px;

  color: #000000;
  font-size: 12px;
  margin: 12px 0 8px;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    background: #b9b9b9;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
  }

  p {
    margin: 0 16px;
  }
}

a {
  color: #0095f6;
}
