.login-form {
  width: 280px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  * {
    height: 38px;
    border-radius: 10px;
    border: none;
  }

  *:focus {
    outline: none;
  }

  input {
    padding-inline-start: 8px;
    background: #fafafa;
  }

  .login-button {
    background: #2743a6;
    color: white;

    cursor: pointer;
  }

  .error-message {
    text-align: center;

    color: #ff0000;
    height: 18px;
    margin: 0;
  }
}
