.Go_before_page {
  text-decoration: none;
  color: black;
}
.Register_Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 50px 30px 50px 30px;
  .logo {
    width: 100px;
    cursor: pointer;
  }
  .content {
    cursor: pointer;
    padding-left: 15px;
    font-size: 35px;
    font-weight: bold;
  }
}
.Register_main {
  .User_data {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-left: 390px;
  }
  .User_data_crt {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 375px;
  }
  .User_data_name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 2px solid black;
    padding-right: 30px;
    padding-top: 15px;

    span {
      font-size: 20px;
      margin-bottom: 46px;
    }
  }
  .User_data_content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;

    div {
      display: inline-block;
    }

    .check_box {
      display: inline-flex;
      margin-left: 30px;
      .check_sex {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          font-size: 18px;
          width: 45px;
          height: 45px;
          background-color: white;
          border: 1px solid #ccc;
          box-shadow: 0px 3px 0px 0px #bbb;
          cursor: pointer;
        }

        .checked {
          background: #0c4fc7;
          color: white;
          font-weight: bold;
          width: 50px;
          height: 50px;
        }
      }
    }
    .Certi_email_btn {
      margin-left: 30px;
      height: 40px;
      width: 100px;
      font-weight: bold;
      font-size: 15px;
      color: white;
      background: rgb(72, 72, 196);
      border: 1px solid rgb(72, 72, 196);
      box-shadow: 3px 3px 1px 0px #ccc;
      cursor: pointer;
    }
    .Certi_email_Num {
      .input_certi_email_Num {
        width: 150px;
        height: 45px;
        border-radius: 10px;
        margin-bottom: 25px;
        font-size: 15px;
        padding-left: 15px;
        border: 1px solid #ccc;
        background-color: #efefef;
      }
      span {
        margin-left: 54px;
      }
      .Certi_Timer {
        color: blue;
        margin-right: 44px;
      }
    }

    input {
      width: 285px;
      height: 45px;
      border-radius: 10px;
      margin-bottom: 25px;
      font-size: 15px;
      padding-left: 15px;
      border: 1px solid #ccc;
      background-color: #efefef;
    }
    span {
      letter-spacing: -1px;
      margin: 15px;
      font-weight: bold;
    }
    .PWD_df {
      color: rgb(250, 31, 31);
    }
    .PWD_SM {
      color: rgb(36, 238, 36);
    }
    .certification_PN {
      width: 150px;
      height: 45px;
      background-color: rgb(73, 73, 232);
      color: white;
      font-size: 15px;
      border: 1px solid rgb(73, 73, 232);
      box-shadow: 4px 4px 1px 1px #ccc;
      margin-left: 30px;
    }

    .check_name {
      color: rgb(36, 238, 36);
    }

    .Sign_certification_btn {
      margin-left: 15px;
      height: 40px;
      width: 90px;
      background: white;
      border: 1px solid #ccc;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 4px 4px 2px 1px #ccc;
      cursor: pointer;
    }
    .Resign_certification_btn {
      display: none;
      margin-left: 15px;
      height: 40px;
      width: 90px;
      background: white;
      border: 1px solid #ccc;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 4px 4px 2px 1px #ccc;
      cursor: pointer;
    }
    .certification_Num {
      width: 160px;
    }
    .Certi_email_checktext {
      font-size: 14px;
      color: rgb(250, 31, 31);
      font-weight: bold;
    }
  }
  .check_assign {
    text-align: center;
    margin: 25px 15px 15px 15px;
    label {
      cursor: pointer;
      input {
        cursor: pointer;
        position: relative;
        top: 6px;
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        border: 1.5px solid gainsboro;
        border-radius: 0.35rem;
        &:checked {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
          border-color: transparent;
          background-size: 100% 100%;
          background-position: 50%;
          background-repeat: no-repeat;
          background-color: rgb(73, 73, 232);
        }
      }
    }

    span {
      margin-right: 15px;
      font-weight: bold;
      margin-left: 10px;
    }
    .signbtn {
      margin-top: 30px;
      .check_btn {
        cursor: pointer;
        background-color: rgb(72, 72, 196);
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid rgb(45, 45, 254);
        width: 150px;
        height: 50px;
        box-shadow: 4px 4px 2px 2px #ccc;
      }
      .Ncheck_btn {
        cursor: default;
        background-color: rgb(172, 172, 254);
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid rgb(172, 172, 254);
        width: 150px;
        height: 50px;
        box-shadow: 4px 4px 2px 2px #ccc;
      }
    }
  }
  .Certification_email_title {
    display: flex;
    align-items: center;
    margin-left: 415px;
    margin-top: 80px;

    .certification_email_title_text {
      margin: 0;
      font-size: 30px;
    }
    .Goo_logo {
      width: 118px;
      margin-left: 20px;
      margin-top: 7px;
    }
  }
  .Com_certification_btn {
    cursor: pointer;
    background-color: rgb(72, 72, 196);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(45, 45, 254);
    width: 150px;
    height: 50px;
    box-shadow: 4px 4px 2px 2px #ccc;
  }
}
