.map-container {
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;

  .mapboxgl-map {
    width: 100vw;
    height: 100vh;
  }

  .ocean-container {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #658dc6;
  }

  .mapboxgl-map {
    z-index: 5;
  }

  .mapboxgl-canvas {
    cursor: initial;
    width: 100% !important;
    height: 100% !important;
  }

  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }
}
