.mapboxgl-marker {
  top: -18px !important;
  left: -18px !important;
}

.map-marker-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 36px;
  height: 36px;

  cursor: initial;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.trip-marker {
  border: 3px solid white;

  &:hover {
    border-color: orange;
  }
}

.write-marker {
  border: 3px solid #0095f6;
}
