.mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;

    img {
      width: 16px;
    }

    .message {
      margin: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .address {
      color: #008000;
    }
    .check-button {
      color: #0095f6;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
